@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* h5 font size paragraph */

  /* start of for mobile */

  --font-size-s-h1: 3.052rem;

  --font-size-s-h2: 2.441rem;

  --font-size-s-h3: 1.953rem;

  --font-size-s-h4: 1.563rem;

  --font-size-s-h5: 1.25rem;
  /* major third 1.250 */
  --font-size-s-h6: 1rem;
  /* end of for mobile */

  --line-height: 1.5;

  --box-shadow-1: 2px 4px 6px grey;

  --transition-8: all 0.8s ease-in-out;

  /* colors (soft palette)*/

  --primary-color: #845ec2;
  --secondary-color: #b39cd0;
  --background-color: #fbeaff;
  --heading-color: #00c9a7;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  line-height: var(--line-height);
  /* font size :16px */
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* mobile */

h1 {
  font-size: var(--font-size-s-h1);
}
h2 {
  font-size: var(--font-size-s-h2);
}
h3 {
  font-size: var(--font-size-s-h3);
}
h4 {
  font-size: var(--font-size-s-h4);
}
h5 {
  font-size: var(--font-size-s-h5);
}
h6 {
  font-size: var(--font-size-s-h6);
}
p {
  font-size: var(--font-size-s-h5);
}

/* mobile : 340px */

.navbar-small {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  min-height: 4rem;
  padding: 0 1.1rem;
  box-shadow: var(--box-shadow-1);
  z-index: 1;
}

.logo {
  font-size: var(--font-size-s-h5);
  letter-spacing: 2px;
  color: var(--primary-color);
  text-shadow: 2px 3px 4px rgba(75, 75, 75, 0.528);
  opacity: 0.8;
}

.hamburger i {
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(0.9);
}

.navbar {
  position: relative;
}

.sidebar {
  position: absolute;
  display: block;
  z-index: 1;
  margin-top: 0.3rem;
  background-color: var(--primary-color);
  transition: var(--transition-8);
  transform: translateX(-100%);
  overflow: hidden;
  width: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  opacity: 0.9;
}

.show-sidebar {
  transform: translateX(0%);
}

.nav-links {
  transform: rotate(10deg) translateX(28%);
}

.nav-links li a {
  display: block;
  padding: 1rem 0;
  font-size: var(--font-size-s-h5);
  font-weight: bold;
  letter-spacing: 2px;
  transition: var(--transition-8);
  color: var(--heading-color);
  text-transform: capitalize;
}

.nav-links li a:hover {
  padding: 1rem 2rem;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.section-hero {
  position: relative;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/hero.jpg") no-repeat center/cover;
  width: 100%;
  min-height: 90vh;
  z-index: -1;
}

.section-hero-center {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  background-color: #fbeaffb1;
}

.section-hero-center h1 {
  font-size: var(--font-size-s-h5);
  letter-spacing: 2px;
  padding: 1rem 0;
  padding-left: 1rem;
  text-transform: capitalize;
  text-align: left;
}

.section-hero-center p {
  text-align: left;
  word-break: break-all;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.form-input {
  padding: 0.4rem;
  border: transparent;
  margin-bottom: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.3rem;
  padding-left: 1rem;
}

.form-input:focus {
  outline: transparent;
  border: 2px solid var(--primary-color);
}

.btn {
  font-size: var(--font-size-s-h5);
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: bold;
  border: transparent;
  padding: 0.5rem 1rem;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.6rem;
  text-align: center;
  box-shadow: var(--box-shadow-1);
  background-color: var(--background-color);
  transition: var(--transition-8);
  transform: translateY(-5%);
  cursor: pointer;
}
.btn:hover {
  transform: translateY(10%);
}

.btn-form:hover {
  background-color: var(--primary-color);
  color: white;
}
